<script>
    var socket = new WebSocket('ws://' + window.location.host + '/ws/system/');

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var cpuPercent = data.cpu_percent;

        // Update the content of the 'cpu-percent' element
        document.getElementById('cpu-percent').textContent = cpuPercent;
    };

    window.addEventListener('beforeunload', function(event) {
        // Close the WebSocket connection
        socket.close();
    });

    document.addEventListener('visibilitychange', function() {
        if (document.visibilityState === 'hidden') {
            // The page is no longer visible
            // Close the WebSocket connection
            socket.close();
        } else if (document.visibilityState === 'visible') {
            // The page is now visible
            // Reconnect the WebSocket
            socket = new WebSocket('ws://' + window.location.host + '/ws/system/');
            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var cpuPercent = data.cpu_percent;

                // Update the content of the 'cpu-percent' element
                document.getElementById('cpu-percent').textContent = cpuPercent;
            };
        }
    });
</script>

{% extends 'base.html' %}

{% block title %}Admin Section{% endblock %}

{% block content %}
    <h1>Admin Panel</h1>
    <p id="cpu-usage">CPU: <span id="cpu-percent">0</span>%</p>
{% endblock %}