{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 15px">
        {% include "messages.html" %}

        <div class="card text-bg-success">
            <div class="card-header">
                Server Status: 🟢Online
            </div>
            <div class="card-body">
                <h5 class="card-title">MineBud, a place where you can have fun!</h5>
                <p class="card-text">In here, you can have fun with people, explore vast lands of Minecraft, and monitor your gameplay status. make sure to bring your friends as well! it's free!</p>
            </div>
        </div>


        <div style="padding-top: 15px">
            <div class="card text-bg-success">
                <div class="card-header">
                    Events
                </div>
                <div class="card-body">

                    <div class="row">

                        {% for event in events %}
                            <div class="col-md-4">
                                <div class="card h-100" style="background-color: transparent">
                                    <img src="{{ event.image.url }}" class="card-img-top img-fluid" alt="...">
                                    <div class="card-body text-white">
                                        <h5 class="card-title green">{{ event.title }}</h5>
                                        <p class="card-text">{{ event.description }}</p>
                                        <p style="color: #b4bec7">{{ event.created|timesince }} ago</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}