<style>
    .profile-card {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profile-image {
        width: 40px; /* Adjust as needed */
        height: 40px; /* Adjust as needed */
        border-radius: 50%;
    }

    .username {
        font-weight: bold;
    }
</style>

<header>
    <nav class="navbar navbar-expand-lg" data-bs-theme="light" style="background-color: #7fff00">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home" %}">MineBud</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal' %}">{% if request.user.is_authenticated %}Portal{% endif %}</a>
                    </li>
                </ul>

                {% if request.user.is_authenticated %}
                    <div class="profile-card text-black">
                        <img src="{{ player_pic.url }}" alt="User Profile Image" class="profile-image">
                        <span class="username">{{ player_username }}</span>
                        <span class="signout" style="font-size: 0.8em;"><a href="{% url 'logout' %}">Sign Out</a></span>
                    </div>
                {% else %}
                    <div class="profile-card">
                        <a class="btn btn-success" href="{% url 'portal' %}">Portal</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </nav>
</header>